https://app.meltwater.com/search/edit/12681167

In [1]:
"""Import the Twython class"""
import twitter
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from typing import List, Dict
from numpy.core.umath_tests import inner1d
import base64
import requests

import datetime

from __future__ import unicode_literals

MY_BIG_TOPICS = {
              "race": ["black", "racism", "racial"],
              "politics": ["trump", "biden", "elections", "democrat", "republican",],
              "covid": ["covid", "corona", "pandemic", "virus"],
                }

TODAY = datetime.datetime.now().strftime(format="%Y-%m-%d")
NOW = datetime.datetime.now().strftime(format="%Y-%m-%d %H:%M:%S")
NOW

C:\Users\alexg\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  if __name__ == '__main__':

'2020-11-24 17:48:22'

In [2]:
%run ./twitter_analysis.ipynb
ta = TweetAnalyzer(["Alameda"], MY_BIG_TOPICS.copy(), "CA")
whatIneed = ta.mCityCountyDF[["city", "county_name", "state_id", "state_name"]].copy()
MYCOUNTIES = ['King', 'Snohomish', 'Pierce']
minnesota = whatIneed.loc[whatIneed.state_id == 'WA'] #
minneapolis = minnesota.loc[minnesota.county_name.isin(MYCOUNTIES)].reset_index(drop=True)
minneapolis
# nys = whatIneed.loc[whatIneed.state_id == 'NY']
# cities = ['New York', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island']
# list(nys.loc[nys.city.isin(cities)]["county_name"])

              city county_name state_id  state_name
0          Seattle        King       WA  Washington
1           Tacoma      Pierce       WA  Washington
2       Marysville   Snohomish       WA  Washington
3         Bellevue        King       WA  Washington
4             Kent        King       WA  Washington
..             ...         ...      ...         ...
193           Elbe      Pierce       WA  Washington
194  Herron Island      Pierce       WA  Washington
195     Greenwater      Pierce       WA  Washington
196        Silvana   Snohomish       WA  Washington
197  Ketron Island      Pierce       WA  Washington

[198 rows x 4 columns]

In [3]:

# MYCOUNTIES = ["Alameda", "San Francisco", "San Mateo", "Santa Clara", "Santa Cruz"]
# MYCOUNTIES = ['New York', 'Kings', 'Queens', 'Bronx', 'Richmond']
MYCOUNTIES = ['Multnomah', 'Washington', 'Clackamas']
if len(MYCOUNTIES) > 0:
    MYCOUNTIES.extend([cc + " County" for cc in MYCOUNTIES])

%run ./twitter_analysis.ipynb
ta = TweetAnalyzer(MYCOUNTIES.copy(), MY_BIG_TOPICS.copy(), "OR")

print(len(ta.mCountyTopics))
ta.mStateName

688

'Oregon'

In [4]:
ta.mMeltwaterQuery

'("Oregon") AND (("Multnomah") OR ("Washington") OR ("Clackamas") OR ("Multnomah County") OR ("Washington County") OR ("Clackamas County") OR ("Aloha") OR ("Banks") OR ("Barlow") OR ("Beavercreek") OR ("Beaverton") OR ("Bethany") OR ("Bull Mountain") OR ("Canby") OR ("Cedar Hills") OR ("Cedar Mill") OR ("Cornelius") OR ("Damascus") OR ("Durham") OR ("Estacada") OR ("Fairview") OR ("Forest Grove") OR ("Garden Home-Whitford") OR ("Gaston") OR ("Gladstone") OR ("Government Camp") OR ("Gresham") OR ("Happy Valley") OR ("Hillsboro") OR ("Jennings Lodge") OR ("Johnson City") OR ("King City") OR ("Lake Oswego") OR ("Maywood Park") OR ("Metzger") OR ("Milwaukie") OR ("Molalla") OR ("Mulino") OR ("North Plains") OR ("Oak Grove") OR ("Oak Hills") OR ("Oatfield") OR ("Oregon City") OR ("Portland") OR ("Raleigh Hills") OR ("Rivergrove") OR ("Rockcreek") OR ("Sandy") OR ("Sherwood") OR ("Stafford") OR ("Tigard") OR ("Troutdale") OR ("Tualatin") OR ("West Haven-Sylvan") OR ("West Linn") OR ("West Slope") OR ("Wilsonville") OR ("Wood Village"))'

In [5]:
print("==============================================")
print("Run the query in Meltwater; collect the tweets")
print("==============================================")

==============================================
Run the query in Meltwater; collect the tweets
==============================================

In [6]:
# %run ./twitter_analysis.ipynb
# ta = TweetAnalyzer(MYCOUNTIES.copy(), MY_BIG_TOPICS.copy())
# allData = ta.getTweetDataFromCSV()
# ta.plotHistogramForRetweetsByTopic(allData)

# allDataFinal = ta.splitTopicsIDbigTopics(allData)
# allDataFinal.describe()
# allDataFinal.tail()
# NOW = '2020-10-12__01_23_57'
# csvFile = ta.mMyDir + "all_tweets_" + NOW.replace(' ', '__').replace(':', '_') + ".csv"
# allDataFinal.to_csv(csvFile, index=False)
# print(f"Saved all tweets ({len(allDataFinal)} rows) to {csvFile}")